
.main-bloc
{
  @include mainBloc;
}

.chic-menu1
{
  @include menuSecondTitle; 
  @include responsive(mobile){
    font-size: 25px;
  }  
}

.chic-container
{
  background-color:#fff5fe;

  @include container;
  @include responsive(mobile){
    margin-right: 20px;
    margin-left: 20px;    
  }
  
}

.chic-title2 
{
  font-size:28px;
  font-family: 'Croissant One', cursive;
  margin-bottom: 35px;
  padding: 50px;
  text-align: center;
  @include linear-gradient(190deg, $color-one:#8f5aff, $color-two:#dc8527);
  @include responsive(mobile){
    font-size: 20px;
  }  
 
}

#appetit
{
  width: 100%;
  align-items: center;
}

.chic-trait
{
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;

     .appetit-sub
    {
      color:#c77412;

      @include chicSecondTitle;
      @include underline;
      
      @include responsive(mobile){
        font-size: 14px;   
       } 
    }
     .chictraitD
   {
      height: 25px;
      margin: 8px; 
      transform: rotateY(180deg);

      @include responsive(smart-tablette){
        height: 13px;
       }
      @include responsive(mobile){
       height: 9px;    
      } 
     

       
   }
    .chictraitG
   {
      height: 25px;
      margin: 8px; 

      @include responsive(smart-tablette){
        height: 13px;
       }
      @include responsive(mobile){
        height: 9px;    
       } 
     
   }  
}


.repas-tartare
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 29px;
  color:#c77412;
  @include responsive(smart-tablette){
    flex-wrap: wrap;
   }
  @include responsive(mobile){
    flex-wrap: wrap;
  }
}
.food-chic
{
  font-family: 'Merriweather', cursive;
  font-weight: 200;
  margin-left: 80px;
  font-size:17px ;
  color:#c77412;
 

  @include responsive(smart-tablette){
    width: 100%;
    text-align: center;
    margin-right: 43px;
   }

  @include responsive(mobile){
    width: 100%;
    text-align: center;
    font-size: 12px;
    margin-right: 70px;
    }
    
    
 
}
.price-chic
{
  font-family: 'Merriweather', cursive;
  font-size:17px ;
  margin-right: 90px;
  color:#c77412;
 

  @include responsive(smart-tablette){
    width: 100%;
    text-align: center;
    margin-top: 10px;
    margin-right: 5px;
   }

  @include responsive(mobile){
    width: 100%;
    text-align: center;
    margin-top: 10px;
    margin-right: 5px;
    font-size: 12px;
   
    }
    
  
}

.veloute
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  color:#c77412;
  @include responsive(smart-tablette){
    flex-wrap: wrap;
   }
  @include responsive(mobile){
    flex-wrap: wrap;
  }
}

.soupe
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  color:#c77412;
  @include responsive(smart-tablette){
    flex-wrap: wrap;
   }
  @include responsive(mobile){
    flex-wrap: wrap;
  }
}

#plaisir
{
  width: 100%;
  align-items: center;
  
}

.plaisir-trait
{
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
  text-align: center;
  align-items: center;
  
    .plaisir-chictraitG
   {
    height: 22px;
      margin: 8px; 
      @include responsive(smart-tablette){
        height: 13px;
       }
     @include responsive(mobile){
      height: 8px;    
     }  
        
   }
    
    .plaisir-chictraitD
   {
    height: 22px;
    margin: 8px; 
    margin-left: 30px;
    transform: rotateY(180deg);
    @include responsive(smart-tablette){
      height: 13px;
     }
     @include responsive(mobile){
      height: 8px;    
     } 
    
   }

    .plaisir-sub
   {
    color:#a56799;
    margin-left: 15px;
    @include chicSecondTitle;
    @include underline;
    @include responsive(mobile){
      font-size: 14px;   
     } 
    
   }
}

.food-plaisir
{
  font-family: 'Merriweather', cursive;
  font-weight: 200;
  font-size:17px ;
  margin-left: 80px;
  color:#a56799;
  @include responsive(smart-tablette){
    width: 100%;
    text-align: center;
    margin-right: 91px;
   }

  @include responsive(mobile){
    width: 100%;
    text-align: center;
    font-size: 12px;
    margin-right: 70px;
    }
 
}
.price-plaisir
{
  font-family: 'Merriweather', cursive;
  font-size:17px ;
  margin-right: 90px;
  color:#a56799;
  

  @include responsive(smart-tablette){
    width: 100%;
    text-align: center;
    margin-top: 10px;
    margin-right: 5px;
   }
  @include responsive(mobile){
    width: 100%;
    text-align: center;
    margin-top: 10px;
    font-size: 12px;
    margin-right: 5px;
   
    }
}

.repas-coquille
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  color:#a56799;  
  @include responsive(smart-tablette){
    flex-wrap: wrap;
   }
  @include responsive(mobile){
    flex-wrap: wrap;
  }
}

.magret
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  color:#a56799;
  @include responsive(smart-tablette){
    flex-wrap: wrap;
   }
  @include responsive(mobile){
    flex-wrap: wrap;
  }
}

.pigeon
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  color:#a56799;
  @include responsive(smart-tablette){
    flex-wrap: wrap;
   }
  @include responsive(mobile){
    flex-wrap: wrap;
  }
}

#gourmandise
{
  width: 100%;
  align-items: center;
  padding-bottom: 3px;   
}

.gourmandise-trait
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 70px;

      .gourmandise-sub
     {
       color:#6e4ccc;
       @include chicSecondTitle; 
       @include underline;
       @include responsive(mobile){
        font-size: 14px;   
       } 
    }

      .gourmandise-chictraitG
    {
       height: 32px;
       margin: 8px;

       @include responsive(smart-tablette){
        height: 19px;
       }
       @include responsive(mobile){
        height: 12px;    
       } 
      
    }

      .gourmandise-chictraitD
    {
      height: 32px;
      margin: 8px;
      transform: rotateY(180deg);
      @include responsive(smart-tablette){
        height: 19px;
       }
       @include responsive(mobile){
        height: 12px;    
       } 
       
    }

}

.repas-petale
{
  
  margin-top: 20px;
  color:#6e4ccc; 
  display: flex;
  justify-content: space-between;

  
  
}

 .food-petale
{
  font-family: 'Merriweather', cursive;
  font-weight: 200;
  font-size:17px ;
  margin-left: 80px;
  @include responsive(smart-tablette){
    width: 100%;
    text-align: center;
    margin-right: 86px;
   }
 

  @include responsive(mobile){
    width: 100%;
    text-align: center;
    font-size: 12px;
    margin-right: 70px;
    } 
}

.fondant
{
  
  margin-top: 20px;
  color:#6e4ccc;
  font-family: 'Merriweather', cursive;
  display: flex;
  justify-content: space-between;
}

.millefeuille
{
  
  margin-top: 20px;
  margin-bottom: 40px;
  color:#6e4ccc; 
  display: flex; 
  justify-content: space-between;
}