main-bloc {
  @include mainBloc;
}

.main-title {
  @include menuSecondTitle;

  /*RESPONSIVE*/
  @include responsive(mobile) {
    font-size: 23px;
  }
}

.chic-container {
  background-color: #fff5fe;

  @include container;

  /*RESPONSIVE*/

  @include responsive(mobile) {
    margin-right: 20px;
    margin-left: 20px;
  }
}

.chic-title2 {
  font-size: 28px;
  font-family: "Croissant One", cursive;
  margin-bottom: 35px;
  padding: 50px;
  text-align: center;
  @include linear-gradient(190deg, $color-one: #8f5aff, $color-two: #dc8527);
  @include responsive(mobile) {
    font-size: 20px;
  }
}

#appetit {
  width: 80%;
  align-items: center;
  margin-left: auto;
  margin-right: auto;

  .chic-trait {
    @include chicTraitTitle;
    @include responsive(smart-tablette) {
      justify-content: space-evenly;
    }
    @include responsive(mobile) {
      justify-content: space-evenly;
    }

    .appetit-sub {
      color: #c77412;
      padding: 5px;
      @include chicSecondTitle;
      @include underline;

      /*RESPONSIVE*/
      @include responsive(mobile) {
        font-size: 20px;
      }
    }

    /*DESCRIPTION TRAIT GAUCHE*/
    .chictraitD {
      @include chicTrait1;
      transform: rotateY(180deg);

      /*RESPONSIVE*/
      @include responsive(smart-tablette) {
        height: 13px;
        width: 30%;
      }

      @include responsive(mobile) {
        height: 9px;
        width: 25%;
      }
    }

    /*DESCRIPTION TRAIT DROITE*/
    .chictraitG {
      @include chicTrait1;

      /*RESPONSIVE*/
      @include responsive(smart-tablette) {
        height: 13px;
        width: 30%;
      }

      @include responsive(mobile) {
        height: 9px;
        width: 25%;
      }
    }
  }

  /*MENU APPETIT*/
  .repas-tartare {
    @include chicRepas(#c77412);
    margin-top: 29px;

    /*RESPONSIVE*/
    @include responsive(smart-tablette) {
      flex-wrap: wrap;
      justify-content: center;
    }
    @include responsive(mobile) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  .food-chic {
    @include chicFood;
    /*RESPONSIVE*/
    @include responsive(smart-tablette) {
      width: 100%;
      text-align: center;
    }
    @include responsive(mobile) {
      width: 100%;
      text-align: center;
    }
  }

  .price-chic {
    @include chicPrice;
    @include responsive(mobile) {
      margin-top: 20px;
    }
  }

  .veloute {
    @include chicRepas(#c77412);
    margin-top: 20px;

    /*RESPONSIVE*/
    @include responsive(smart-tablette) {
      flex-wrap: wrap;
      justify-content: center;
    }
    @include responsive(mobile) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  .soupe {
    @include chicRepas(#c77412);
    margin-top: 20px;

    /*RESPONSIVE*/
    @include responsive(smart-tablette) {
      flex-wrap: wrap;
      justify-content: center;
    }
    @include responsive(mobile) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}

/*MENU PLAISIR*/
#plaisir {
  width: 80%;
  align-items: center;
  margin-left: auto;
  margin-right: auto;

  .plaisir-trait {
    @include chicTraitTitle;
    margin-top: 70px;
    /*RESPONSIVE*/
    @include responsive(smart-tablette) {
      justify-content: space-evenly;
    }
    @include responsive(mobile) {
      justify-content: space-evenly;
    }

    .plaisir-chictraitG {
      @include chicTrait2;

      /*RESPONSIVE*/
      @include responsive(smart-tablette) {
        height: 13px;
        width: 30%;
      }
      @include responsive(mobile) {
        height: 8px;
        width: 25%;
      }
    }

    .plaisir-chictraitD {
      @include chicTrait2;

      transform: rotateY(180deg);

      /*RESPONSIVE*/
      @include responsive(smart-tablette) {
        height: 13px;
        width: 30%;
      }
      @include responsive(mobile) {
        height: 8px;
        width: 25%;
      }
    }

    .plaisir-sub {
      color: #a56799;
      padding: 5px;
      @include chicSecondTitle;
      @include underline;

      /*RESPONSIVE*/
      @include responsive(mobile) {
        font-size: 20px;
      }
    }
  }

  .food-plaisir {
    @include chicFood;

    /*RESPONSIVE*/
    @include responsive(smart-tablette) {
      width: 100%;
      text-align: center;
    }
    @include responsive(mobile) {
      width: 100%;
      text-align: center;
    }
  }

  .price-plaisir {
    @include chicPrice;

    /*RESPONSIVE*/

    @include responsive(mobile) {
      font-size: 20px;
      margin-top: 20px;
    }
  }

  .repas-coquille {
    @include chicRepas(#a56799);
    margin-top: 20px;

    /*RESPONSIVE*/
    @include responsive(smart-tablette) {
      flex-wrap: wrap;
      justify-content: center;
    }
    @include responsive(mobile) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  .magret {
    @include chicRepas(#a56799);
    margin-top: 20px;

    /*RESPONSIVE*/
    @include responsive(smart-tablette) {
      flex-wrap: wrap;
      justify-content: center;
    }
    @include responsive(mobile) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  .pigeon {
    @include chicRepas(#a56799);
    margin-top: 20px;

    /*RESPONSIVE*/
    @include responsive(smart-tablette) {
      flex-wrap: wrap;
      justify-content: center;
    }
    @include responsive(mobile) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}

/*MENU GOURMANDISE*/
#gourmandise {
  width: 80%;
  align-items: center;
  padding-bottom: 3px;
  margin-left: auto;
  margin-right: auto;

  .gourmandise-trait {
    @include chicTraitTitle;
    margin-top: 70px;
    @include responsive(smart-tablette) {
      justify-content: space-evenly;
    }
    @include responsive(mobile) {
      justify-content: space-evenly;
    }

    .gourmandise-sub {
      color: #6e4ccc;
      padding: 5px;
      @include chicSecondTitle;
      @include underline;

      /*RESPONSIVE*/
      @include responsive(mobile) {
        font-size: 20px;
      }
    }

    .gourmandise-chictraitG {
      @include chicTrait3;

      /*RESPONSIVE*/
      @include responsive(smart-tablette) {
        height: 19px;
        width: 30%;
      }
      @include responsive(mobile) {
        height: 12px;
        width: 25%;
      }
    }

    .gourmandise-chictraitD {
      @include chicTrait3;
      transform: rotateY(180deg);

      /*RESPONSIVE*/
      @include responsive(smart-tablette) {
        height: 19px;
        width: 30%;
      }
      @include responsive(mobile) {
        height: 12px;
        width: 25%;
      }
    }
  }

  .repas-petale {
    margin-top: 20px;
    @include chicRepas(#6e4ccc);
  }

  .food-petale {
    @include chicFood;

    /*RESPONSIVE*/
    @include responsive(smart-tablette) {
      width: 100%;
      text-align: center;
    }

    @include responsive(mobile) {
      width: 100%;
      text-align: center;
      font-size: 20px;
    }
  }

  .fondant {
    @include chicRepas(#6e4ccc);
    margin-top: 20px;
    font-family: "Merriweather", cursive;
  }

  .millefeuille {
    @include chicRepas(#6e4ccc);
    margin-top: 20px;
    margin-bottom: 40px;
    font-family: "Merriweather", cursive;
  }
}
