



*
{
  margin: 0;
  padding: 0;
}

body
{
  background-color: #fff;
}
.container
{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    width: 100%;

    @include responsive(phone){
        flex-wrap: wrap;
    }
}

.note
{  
    background-color: #fcdfdb;
    margin-right: 30px;

    @include responsive(phone){
     margin-left: 40px;   
     margin-right: 40px;
     margin-bottom: 70px;
    }
    

    .note-title
   {
    text-align: center;
    margin-top:130px;
   }
    .fa-music
   {
    color:red;
    font-size: 30px;
   }
    h3 a
   {
    font-size: 40px;
    text-decoration: none; 
   }
    h4
   {
    font-size: 35px;
    margin-bottom: 20px; 
    font-family: 'Ma Shan Zheng', cursive; 
   }
}

.chic
{  
    background-color:#fff5fe; 
    margin-left: 30px;

    @include responsive(phone){
        margin-left: 40px;   
        margin-right: 40px;
       }
       
   
    .chic-title
   {
    text-align: center;
    margin-top:200px;
   }
    h4
   {
    font-size: 25px;
    margin-bottom: 20px; 
    font-family: 'Croissant One', cursive;
   }
    h3 a
   {
    font-size: 40px;
    text-decoration: none;
   }
}

.delice
{
    background-color:#f9f9f9;
    margin-right: 30px;
    margin-top: 15px;  
    
    @include responsive(phone){
        margin-left: 40px;   
        margin-right: 40px;
        margin-bottom: 60px;
       }
       

    .delice-title
   {
    text-align: center;
    margin-top:180px; 
   }
    h4
   {
    font-size: 35px;
    margin-bottom: 35px;
    font-family: 'Dancing Script', cursive;  
   }
    h3 a
   {
    font-size: 40px;
    text-decoration: none;  
   }
}

.palette
{
    background-color: #fdfffd;
    margin-left: 30px;
    margin-top: 15px;  

    @include responsive(phone){
        margin-left: 40px;   
        margin-right: 40px;
       }
       
   
    .palette-title
   {
    text-align: center;
    margin-top:180px;
   }
    h4
   {
    font-size: 30px;
    margin-bottom: 32px;
    font-family: 'Kaushan Script', cursive;
   }
    h3 a
   {
    font-size: 40px; 
    text-decoration: none;  
   }
}