.main-bloc {
  @include mainBloc;
}

.delice-menu1 {
  @include menuSecondTitle;
  @include responsive(mobile) {
    font-size: 25px;
  }
}

.delice-container {
  background-color: #f9f9f9;
  @include container;
  @include responsive(mobile) {
    margin-right: 20px;
    margin-left: 20px;
  }
}

.delice-title2 {
  font-size: 40px;
  margin-bottom: 35px;
  padding: 50px;
  text-align: center;
  font-family: "Dancing Script", cursive;
  @include linear-gradient(160deg, $color-one: #0886fbbb, $color-two: #0229dd);
  /*RESPONSIVE*/
  @include responsive(mobile) {
    font-size: 29px; 
  }
}

/*MENU COMMENCER*/
#commencer {
  width: 100%;
  align-items: center;
 

  .delice-trait {
    @include deliceTraitTitle;
    .delice-sub {
      font-family: "Kalam", cursive;
      @include paletteSecondTitle;
      @include underline;
    }
    /*DESCRIPTION TRAIT*/
    .delicetraitG {
      @include deliceTrait1;

      /*RESPONSIVE*/
      
      @include responsive(laptope) {
        width: 37%;
      }
      @include responsive(smart-tablette) {
        width:35% ;
      }
      @include responsive(mobile) {
        width:30% ;
      }
      @include responsive(mini-mobile) {
        width:20% ;
       }
    }

    .delicetraitD {
      @include deliceTrait1;
      transform: rotateY(180deg);

      /*RESPONSIVE*/
   
      @include responsive(laptope) {
        width: 37%;
        
      }
      @include responsive(smart-tablette) {
        width:35% ;
      }
      @include responsive(mobile) {
        width:30% ;
      }
      @include responsive(mini-mobile) {
        width:20% ;
       }
    }
   
  }

  .repas-thon {
    @include deliceRepas;

    /*RESPONSIVE*/
    @include responsive(mobile) {
      flex-wrap: wrap;
    
    }
  }

  .food-delice {
    @include deliceFood;
    /*RESPONSIVE*/
    @include responsive(smart-tablette) {
      margin-left: 43px;
      
    }
    @include responsive(mobile) {
      width: 100%;
      text-align: center;
      margin-right: 51px;
    }
  }

  .price-delice {
    @include delicePrice;

    /*RESPONSIVE*/
    @include responsive(smart-tablette) {
      margin-right: 42px;
    }
    @include responsive(mobile) {
      width: 100%;
      text-align: center;
      margin-right: 5px;
      margin-top: 5px;
    }
  }

  .bouchee {
    @include deliceRepas;
    /*RESPONSIVE*/
    @include responsive(mobile) {
      flex-wrap: wrap;
    }
  }

  .cepes {
    @include deliceRepas;
    /*RESPONSIVE*/
    @include responsive(mobile) {
      flex-wrap: wrap;
    }
  }
}

/*MENU CONTINUER*/
#continuer {
  width: 100%;
  align-items: center;
 

  .continuer-trait {
    @include deliceTraitTitle;
    margin-top: 70px;
    .continuer-sub {
      font-family: "Kalam", cursive;
      @include paletteSecondTitle;
      @include underline;
    }

    .light-traitG {
      @include deliceTrait2;

      /*RESPONSIVE*/
      
      @include responsive(laptope) {
        width: 37%;
      }
      @include responsive(smart-tablette) {
        width:35% ;
      }
      @include responsive(mobile) {
        width:30% ;
      }
      @include responsive(mini-mobile) {
        width:20% ;
       }
    }

    .light-traitD {
      @include deliceTrait2;
      transform: rotateY(180deg);

      /*RESPONSIVE*/
     
      @include responsive(laptope) {
        width: 37%;
      }
      @include responsive(smart-tablette) {
        width:35% ;
      }
      @include responsive(mobile) {
        width:30% ;
      }
      @include responsive(mini-mobile) {
        width:20% ;
       }
    }
  }

  .food-continue {
    @include deliceFood;
    /*RESPONSIVE*/
    @include responsive(smart-tablette) {
      margin-left: 43px;
    }
    @include responsive(mobile) {
      width: 100%;
      text-align: center;
      margin-right: 43px;
    }
  }

  .price-continue {
    @include delicePrice;

    /*RESPONSIVE*/
    @include responsive(smart-tablette) {
      margin-right: 42px;
    }
    @include responsive(mobile) {
      width: 100%;
      text-align: center;
      margin-right: 5px;
      margin-top: 5px;
    }
  }

  .repas-poulet {
    @include deliceRepas;
    margin-top: 20px;

    /*RESPONSIVE*/
    @include responsive(mobile) {
      flex-wrap: wrap;
    }
  }

  .roti {
    @include deliceRepas;
    margin-top: 10px;

    /*RESPONSIVE*/
    @include responsive(mobile) {
      flex-wrap: wrap;
    }
  }

  .boeuf {
    @include deliceRepas;

    /*RESPONSIVE*/
    @include responsive(mobile) {
      flex-wrap: wrap;
    }
  }
}

/*MENU TERMINER*/
#terminer {
  width: 100%;
  align-items: center;
  padding-bottom: 3px;

  .terminer-trait {
    @include deliceTraitTitle;
    margin-top: 70px;

    .terminer-sub {
      font-family: "Kalam", cursive;
      @include paletteSecondTitle;
      @include underline;
    }
    .blue-traitG {
      @include deliceTrait3;

      /*RESPONSIVE*/
      
      @include responsive(laptope) {
        width: 37%;
      }
      @include responsive(smart-tablette) {
        width:35% ;
      }
      @include responsive(mobile) {
        width:30% ;
      }
      @include responsive(mini-mobile) {
        width:20% ;
       }
    }
    .blue-traitD {
      @include deliceTrait3;
      transform: rotateY(180deg);

      /*RESPONSIVE*/
     
      @include responsive(laptope) {
        width: 37%;
      }
      @include responsive(smart-tablette) {
        width:35% ;
      }
      @include responsive(mobile) {
        width:30% ;
      }
      @include responsive(mini-mobile) {
        width:20% ;
      }
    }
  }

  .food-termine {
    @include deliceFood;

    /*RESPONSIVE*/
    @include responsive(smart-tablette) {
      margin-left: 43px;
    }
    @include responsive(mobile) {
      width: 100%;
      text-align: center;
      margin-right: 43px;
    }
  }

  .price-termine {
    @include delicePrice;

    /*RESPONSIVE*/
    @include responsive(smart-tablette) {
      margin-right: 42px;
    }
    @include responsive(mobile) {
      width: 100%;
      text-align: center;
      margin-right: 5px;
      margin-top: 5px;
    }
  }

  .repas-desserts {
    @include deliceRepas;
    margin-top: 20px;

    /*RESPONSIVE*/
    @include responsive(mobile) {
      flex-wrap: wrap;
    }
  }

  .créme {
    @include deliceRepas;

    /*RESPONSIVE*/
    @include responsive(mobile) {
      flex-wrap: wrap;
    }
  }

  .tiramisu {
    @include deliceRepas;
    margin-bottom: 40px;

    /*RESPONSIVE*/
    @include responsive(mobile) {
      flex-wrap: wrap;
    }
  }
}
