

.main-bloc
{
  background-color: white;
  width: 100%; 
}

.delice-menu1
{
  font-size: 35px;
  text-align: center;
  margin-top: 35px;
  margin-bottom:25px;
  letter-spacing: 2px;
  
}

.delice-container
{
  background-color:#f9f9f9;
  margin-left: 50px;
  margin-right: 50px; 
  margin-top: 50px;
  margin-bottom: 120px;
}

.delice-title2
{
  font-size:40px;
  margin-bottom: 35px;
  padding: 50px;
  text-align: center;
  font-family: 'Dancing Script', cursive;
  @include linear-gradient(160deg, $color-one:#0886fbbb, $color-two:#0229dd);  
}

#commencer
{
  width: 100%;
  align-items: center;
}

.delice-trait
{
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.delice-sub
{
  font-family: 'Kalam', cursive;
  font-weight: 300;
  font-size: 25px;
  text-align: center;  
}

.delicetraitG
{
  height: 40px;
  margin: 8px;  
}
.delicetraitD
{
  height: 26px;
  margin: 15px;  
}

.repas-thon
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.food-delice
{
  font-family: 'Kalam', cursive;
  font-weight: 300;
  font-size:20px ;
  margin-left: 80px;
}
.price-delice
{
  font-family: 'Kalam', cursive;
  font-size:20px ;
  margin-right: 90px;
  font-weight: 400;
}

.bouchee
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.cepes
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

#continuer
{
  width: 100%;
  align-items: center;
}

.continuer-trait
{
  display: flex;
  justify-content: space-around;
  margin-top: 70px;
  text-align: center;
}

.continuer-sub
{
  font-family: 'Kalam', cursive;
  font-weight: 300;
  font-size: 25px;
  text-align: center;  
}

.light-traitG
{
  height: 44px;
  margin: 8px
}
.light-traitD
{
  height: 32px;
  margin: 16px;
}

.repas-poulet
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.roti
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.boeuf
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

#terminer
{
  width: 100%;
  align-items: center;
  padding-bottom: 3px;   
}

.terminer-trait
{
  display: flex;
  justify-content: space-around;
  margin-top: 70px;
}
.terminer-sub
{

  font-family: 'Kalam', cursive;
  font-weight: 300;
  font-size: 26px;
  text-align: center; 
}

.blue-traitG
{
  height: 38px;
  margin: 8px
}

.blue-traitD
{
  height: 30px;
  margin: 13px
}

.repas-desserts
{
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.créme
{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tiramisu
{
  margin-top: 10px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;  
}