/* FOOTER*/
footer 
{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    height: 60px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0; 
    background-color: $fondVert;

  .legale 
  {
    margin-top: 20px; 
   
  }
  .legale a
  {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    color: #fdcb46;
    margin: 25px;
    font-size: 20px;
    cursor: pointer; 

  
    @include responsive(little-phone){
        font-size: 15px;
    }
  }
  .legale:hover
  {
    animation: shake 1s;
  }
  .contact 
  {
    
    margin-right: 25px;
    margin-top: 20px;
   
  
  }
  a 
  {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 200;
    color: #fdcb46; 
  
  
    @include responsive(little-phone){
      font-size: 15px;
  }
  }
  .contact:hover{
    animation: shake 1s;
  }
}

@keyframes shake{
  0%{
    transform:translate(5px, 5px);
  }
  10%{
    transform:translate(-5px, -5px);
  }
  20%{
    transform:translate(5px, 5px);
  }
  30%{
    transform:translate(-5px, -5px);
  }
  40%{
    transform:translate(5px, 5px);
  }
  50%{
    transform:translate(-5px, -5px);
  }
  60%{
    transform:translate(5px, 5px);
  }
  70%{
    transform:translate(-5px, -5px);
  }
  80%{
    transform:translate(5px, 5px);
  }
  90%{
    transform:translate(-5px, -5px);
  }
  100%{
    transform:translate(5px, 5px);
  }
}

