


.main-bloc
{
  @include mainBloc;
}

.note-menu1
{
  @include menuSecondTitle;  
}

.note-container
{
  background-color:#fcdfdb;
  @include container;

  /* RESPONSIVE*/
  @include responsive(mobile){
    margin-right: 20px;
    margin-left: 20px;    
  }

}

.note-title
{
  text-align: center;
  
   .fa-music
   {
     font-size: 60px;
     margin-top: 40px; 
     @include linear-gradient(190deg, $color-one:#f6916a, $color-two:#f13639);
   } 

  .principal
   {
     font-size:40px;
     font-family: 'Devonshire', cursive;
     font-weight: 300;
     margin-bottom: 35px;
     color:#3d1319;  
   }
}


#prelude
{
  width: 100%;
  align-items: center;
}

.prelude-trait
{
  display: flex;
  justify-content: space-around;
  text-align: center;
  @include responsive(mobile){
    align-items:center ;
   }
}

  .prelude-title 
{
  @include noteSecondTitle;
  
  @include responsive(mobile){
   font-size:20px ;
  }

 
 }


.traitD
{
  height: 27px;
  margin: 8px;  
 

  @include responsive(smart-mobile){
    height: 14px;
  }
  @include responsive(mobile){
    height: 7px;
    margin: 12px;
  }
  @include responsive(big-mobile){
    height: 23px;
  }
  

 

 
}

.traitG
{
  height: 27px;
  margin: 8px; 
  
  @include responsive(smart-mobile){
    height: 14px;
  }
  @include responsive(mobile){
    height: 7px;
    margin: 12px;
  }
  @include responsive(big-mobile){
    height: 23px;
  }
   
  
 

 
 
}
.repas-raviole
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;

  @include responsive(mobile){
    flex-wrap: wrap;
  }

  


   
}

.food
{
 font-family: 'Kalam', cursive;
 font-weight: 300;
 font-size:20px ;
 margin-left: 60px;

 @include responsive(mobile){
  width: 100%;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 20px;
}
@include responsive(big-mobile){
  margin-left: 28px;
}

  


}



 


.price
{
  font-family: 'Kalam', cursive;
  font-size:20px ;
  margin-right: 75px;
  
  
  @include responsive(mobile){
    width: 100%;
    text-align: center;
    margin-right: 5px;
    margin-top: 6px;
  }
  @include responsive(big-mobile){
    margin-right: 43px;
  }
  
  
  

  
}

.caviar
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;

  @include responsive(mobile){
    flex-wrap: wrap;
  }
  


  
}

.homard
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  @include responsive(mobile){
    flex-wrap: wrap;
  }
 

   
}

.foie
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  @include responsive(mobile){
    flex-wrap: wrap;
  }


 
}

#orgue
{
  width: 100%;
  align-items: center;
}

.pont-orgue
{
  display: flex;
  justify-content: space-around;
  margin-top: 70px;
  text-align: center;
  
}

.orgue-sub
{
  
  @include noteSecondTitle;

  @include underline;
  @include responsive(mobile){
    font-size:20px ;
   }
}

.orgue-traitG
{
  height: 27px;
  @include responsive(mobile){
    height: 7px;
    margin: 12px;
  }
  @include responsive(big-mobile){
    height: 23px;
    margin-left: 15px;
  }
  
 
 
    
}

.orgue-traitD
{
  height: 27px;
  @include responsive(mobile){
    height: 7px;
    margin: 12px;
  }
  @include responsive(big-mobile){
    height: 23px;
    margin-right: 15px;
  }
  
 
  


 
}
.repas-noix
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  @include responsive(mobile){
    flex-wrap: wrap;
  }
 

  
}

.langouste
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  @include responsive(mobile){
    flex-wrap: wrap;
  }


 
}

.mijote
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  @include responsive(mobile){
    flex-wrap: wrap;
  }

 
}

#mouvement
{
  width: 100%;
  align-items: center;  
}

.mouvement-main
{
  display: flex;
  justify-content: space-around;
  margin-top: 70px;
}
.mouvement-title
{
  @include noteSecondTitle;
  
  @include underline;
  @include responsive(mobile){
    font-size:20px ;
   }
}

.mouvement-traitG
{
  height: 27px;
  @include responsive(mobile){
    height: 7px;
    margin: 28px;
  }
  @include responsive(big-mobile){
    height: 23px;
    margin-left: 17px;
  }
  
 
 

}

.mouvement-traitD
{
  height: 27px;
  @include responsive(mobile){
    height: 7px;
    margin: 28px;
  }
  @include responsive(big-mobile){
    height: 23px;
    margin-right: 17px;
  }
  
  
 

}

.repas-macaron
{
  margin-top: 20px;
  
}

.baba
{
  margin-top: 10px;
 
}

.tarte
{
  margin-top: 10px;
  margin-bottom: 50px;
  
}

#return
{
  margin-bottom: 90px;
  padding: 40px;
  display: flex;
  justify-content: center;

    
}
  
.fa-music
{
  font-size: 50px;
  margin-left: 15px;
  @include linear-gradient(190deg, $color-one:#f6916a, $color-two:#f13639);
  @include responsive(mobile){
    font-size: 40px;
  }
 
}

.principal1
{
  font-size: 35px;
  font-family: 'Devonshire', cursive;
  margin-left: 13px;
  font-weight: 300;
  color:#3d1319;
  @include responsive(mobile){
    font-size: 25px;
  }

 
}




