


.main-bloc
{
  background-color: white;
  width: 100%;
}

.note-menu1
{
  font-size: 30px;
  text-align: center;
  margin-top: 35px;
  margin-bottom:25px;
  letter-spacing: 2px;
}

.note-container
{
  background-color:#fcdfdb;
  margin-left: 50px;
  margin-right: 50px;
  
}

.note-title
{
  text-align: center;
  
}

.note-title .fa-music
{
  color:red;
  font-size: 60px;
  margin-top: 40px;
  
}
.note-title .principal
{
  font-size:40px;
  font-family: 'Devonshire', cursive;
  font-weight: lighter;
  margin-bottom: 35px;
  
}

.prelude-title
{
  font-family: 'montserra', cursive;
  font-size: 25px;
  text-align: center;
  margin-right: 15px;
}
.prelude-trait
{
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.traitD
{
  height: 30px;
  margin-left: 40px;
  margin: 5px;
}
.traitG
{
  height: 48px;
  margin-right: 35px;
  margin: 5px;
}
.repas-raviole
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.food
{
 font-family: 'montserra', cursive; 
 font-size:20px ;
 margin-left: 50px;
}
.price
{
  font-family: 'montserra', cursive;
  font-size:20px ;
  margin-right: 60px;
}

.caviar
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.homard
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.foie
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.pont-orgue
{
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}

.orgue-sub
{
  font-family: 'montserra', cursive;
  font-size: 25px;
  text-align: center;
  margin-right: 15px;
}

.repas-noix
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.langouste
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.mijote
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}



.mouvement-main
{
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}
.mouvement-title
{

  font-family: 'montserra', cursive;
  font-size: 25px;
  text-align: center;
  margin-right: 15px;
}

.repas-macaron
{
  margin-top: 10px;
}

.baba
{
  margin-top: 10px;
}

.tarte
{
  margin-top: 10px;
  margin-bottom: 50px;
}

.note-fin
{
  display: flex;
  
}