


.main-bloc
{
  background-color: white;
  width: 100%;
 
}

.note-menu1
{
  font-size: 30px;
  text-align: center;
  margin-top: 35px;
  margin-bottom:25px;
  letter-spacing: 2px;
}

.note-container
{
  background-color:#fcdfdb;
  margin-left: 50px;
  margin-right: 50px; 
  margin-bottom: 120px;
}

.note-title
{
  text-align: center;
  
}

.note-title .fa-music
{
  color:red;
  font-size: 60px;
  margin-top: 40px;
  
}
.note-title .principal
{
  font-size:40px;
  font-family: 'Devonshire', cursive;
  font-weight: lighter;
  margin-bottom: 35px;
  
}

#prelude
{
  width: 100%;
  align-items: center;
}

.prelude-trait
{
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.prelude-title
{
  font-family: 'Kalam', cursive;
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  margin-right: 15px; 
}
.traitD
{
  height: 20px;
  margin: 5px;  
}
.traitG
{
  height: 30px;
  margin: 5px;
  
}
.repas-raviole
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.food
{
 font-family: 'Kalam', cursive;
 font-weight: 300;
 font-size:20px ;
 margin-left: 80px;
}
.price
{
  font-family: 'montserra', cursive;
  font-size:20px ;
  margin-right: 90px;
}

.caviar
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.homard
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.foie
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

#orgue
{
  width: 100%;
  align-items: center;
}

.pont-orgue
{
  display: flex;
  justify-content: space-around;
  margin-top: 70px;
  text-align: center;
}

.orgue-sub
{
  font-family: 'montserra', cursive;
  font-size: 25px;
  text-align: center;
  margin-right: 15px;
}

.repas-noix
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.langouste
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.mijote
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

#mouvement
{
  width: 100%;
  align-items: center;
  
}

.mouvement-main
{
  display: flex;
  justify-content: space-around;
  margin-top: 70px;
}
.mouvement-title
{

  font-family: 'montserra', cursive;
  font-size: 25px;
  text-align: center;
  margin-right: 15px;
}

.repas-macaron
{
  margin-top: 10px;
}

.baba
{
  margin-top: 10px;
}

.tarte
{
  margin-top: 10px;
  margin-bottom: 50px;
}

#return
{
  margin-bottom: 70px;
  padding: 40px;
  display: flex;
 justify-content: center;
  
}

.fa-music
{
  color: red;
  font-size: 50px;
  margin-left: 15px;
}

.principal1
{
 font-size: 35px;
 font-family: 'Devonshire', cursive;
 margin-left: 13px;
}


