

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background-color: #fff;
}
.container
{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    width: 100%;

    @include responsive(phone){
        flex-wrap: wrap;
    }
}

.note
{  
    background-color: #fcdfdb;
    margin-right: 30px;
    width:$widthMenu;
    height:$heightMenu;
    box-shadow:$shadow;

    @include responsive(phone){
     margin-left: 40px;   
     margin-right: 40px;
     margin-bottom: 70px;
    }
    

    .note-title
   {
    text-align: center;
    margin-top:130px;
   }
    .fa-music
   {
    
    font-size: 30px;
    @include linear-gradient(145deg, $color-one:#f6916a, $color-two:#f13639);
   }
    h3 a
   {
    font-size: 40px;
    text-decoration: none; 
    color:#3d1319;
    
   }
    h4
   {
    font-size: 35px;
    margin-bottom: 20px;  
    color:#3d1319;
    font-family: 'devonshire';
   }
}

.chic
{  
    background-color:#fff5fe; 
    margin-left: 30px;
    width:$widthMenu;
    height:$heightMenu;
    box-shadow:$shadow;

    @include responsive(phone){
        margin-left: 40px;   
        margin-right: 40px;
       }
       
   
    .chic-title
   {
    text-align: center;
    margin-top:200px;
   }
    h4
   {
    font-size: 25px;
    margin-bottom: 20px; 
    font-family: 'Croissant One', cursive;
    @include linear-gradient(190deg, $color-one:#8f5aff, $color-two:#dc8527);
   }
    h3 a
   {
    font-size: 40px;
    text-decoration: none;
    color: #c77412;
   }
}

.delice
{
    background-color:#f9f9f9;
    margin-right: 30px;
    margin-top: 15px;
    width:$widthMenu;
    height:$heightMenu;
    box-shadow:$shadow;  
    
    @include responsive(phone){
        margin-left: 40px;   
        margin-right: 40px;
        margin-bottom: 60px;
       }
       

    .delice-title
   {
    text-align: center;
    margin-top:180px; 
   }
    h4
   {
    font-size: 35px;
    margin-bottom: 35px;
    font-family: 'Dancing Script', cursive;
    @include linear-gradient(160deg, $color-one:#0886fbbb, $color-two:#0229dd);
   }

    h3 a
   {
    font-size: 40px;
    text-decoration: none;
    color: #0887fb;  
    font-family: 'sriracha';
   }
}

.palette
{
    background-color: #fdfffd;
    margin-left: 30px;
    margin-top: 15px;
    width:$widthMenu;
    height:$heightMenu;
    box-shadow:$shadow;  

    @include responsive(phone){
        margin-left: 40px;   
        margin-right: 40px;
       }
       
    .palette-title
   {
    text-align: center;
    margin-top:180px;
   }
    h4
   {
    font-size: 30px;
    margin-bottom: 32px;
    font-family:'kaushan script', cursive;

    @include linear-gradient( 145deg, $color-one:#beff7f, $color-two:#4ea043);

    
   }
    h3 a
   {
    font-size: 40px; 
    text-decoration: none; 
    color: #72bf56; 
    font-family: 'sriracha';
   }
}