


.main-bloc
{
  background-color: white;
  width: 100%;
 
}

.delice-container
{
  background-color:#f9f9f9;
  margin-left: 50px;
  margin-right: 50px; 
  margin-top: 50px;
  margin-bottom: 120px;
}

.delice-title2
{
  font-size:30px;
  font-weight: lighter;
  margin-bottom: 35px;
  padding: 50px;
  text-align: center;
  font-family: 'Dancing Script', cursive;
  @include linear-gradient(160deg, $color-one:#0886fbbb, $color-two:#0229dd);  
}

#commencer
{
   width: 100%;
  align-items: center;
}

.delice-trait
{
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.delice-sub
{
  font-family: 'Kalam', cursive;
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  margin-right: 15px; 
}

.delicetraitG
{
  height: 20px;
  margin: 8px;  
}
.delicetraitD
{
  height: 20px;
  margin: 8px;
  
}

.repas-thon
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
.food-delice
{
 font-family: 'Kalam', cursive;
 font-weight: 300;
 font-size:20px ;
 margin-left: 80px;
}
.price-delice
{
  font-family: 'Kalam', cursive;
  font-size:20px ;
  margin-right: 90px;
}

.bouchee
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.cepes
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

#continuer
{
  width: 100%;
  align-items: center;
}

.continuer-trait
{
  display: flex;
  justify-content: space-around;
  margin-top: 70px;
  text-align: center;
}

.continuer-sub
{
  font-family: 'Kalam', cursive;
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  margin-right: 15px;
}

.repas-poulet
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.roti
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.boeuf
{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

#terminer
{
  width: 100%;
  align-items: center;
   
}

.terminer-trait
{
  display: flex;
  justify-content: space-around;
  margin-top: 70px;
}
.terminer-sub
{

  font-family: 'Kalam', cursive;
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  margin-right: 15px;
}

.repas-desserts
{
  margin-top: 20px;
}

.créme
{
  margin-top: 10px;
}

.tiramisu
{
  margin-top: 10px;
  margin-bottom: 40px;
  
}