.main-bloc {
  @include mainBloc;
}

.palette-menu1 {
  @include menuSecondTitle;

  @include responsive(mobile) {
    font-size: 27px;
  }
  @include responsive(mini-mobile) {
    font-size: 24px;
  }
}

.palette-container {
  background-color: #fdfffd;
  @include container;

  /*RESPONSIVE*/
  @include responsive(mobile) {
    margin-right: 20px;
    margin-left: 20px;
  }
}

.palette-title2 {
  font-size: 35px;
  margin-bottom: 35px;
  padding: 50px;
  text-align: center;
  font-family: "kaushan script", cursive;

  /*GRADIENT*/
  @include linear-gradient(190deg, $color-one: #beff7f, $color-two: #4ea043);

  /*RESPONSIVE*/
  @include responsive(mobile) {
    font-size: 29px;
  }
  @include responsive(mini-mobile) {
    font-size: 27px;
  }
}

/*MENU ESQUISSE*/
#esquisse {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  align-items: center;

  .esquisse-trait {
    @include paletteTraitTitle;

    /*RESPONSIVE*/
   
    @include responsive(smart-tablette) {
      justify-content: space-evenly;
    }
    @include responsive(mobile) {
      justify-content: space-evenly;
    }

    .esquisse-sub {
      @include paletteSecondTitle;
      @include underline;
    }

    .paletteraitG {
      @include paletteTrait;

      /*RESPONSIVE*/
     
      @include responsive(smart-tablette) {
        width: 25%;
        height: 25px;
      }

      @include responsive(mobile) {
        width: 20%;
        height: 20px;
      }
      
    }

    .paletteraitD {
      @include paletteTrait;
      transform: rotateY(180deg);

      /*RESPONSIVE*/
      
      @include responsive(smart-tablette) {
        width: 25%;
        height: 25px;
      }

      @include responsive(mobile) {
        width: 20%;
        height: 20px;
      }
      
    }
  }

  /*REPAS ESQUISSE*/
  .repas-fricasse {
    @include paletteRepas;

    /*RESPONSIVE*/
    @include responsive(smart-tablette) {
      flex-wrap: wrap;
      justify-content: center;
    }
    @include responsive(mobile) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  .food-palette {
    @include paletteFood;

    /*RESPONSIVE*/
    @include responsive(smart-tablette) {
      text-align: center;
      width: 100%;
    }

    @include responsive(mobile) {
      width: 100%;
      text-align: center;
    }
    
  }

  .price-palette {
    @include palettePrice;

  }

  .oeuf {
    @include paletteRepas;

    /*RESPONSIVE*/
    @include responsive(smart-tablette) {
      flex-wrap: wrap;
      justify-content: center;
    }
    @include responsive(mobile) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  .canard {
    @include paletteRepas;

    /*RESPONSIVE*/
    @include responsive(smart-tablette) {
      flex-wrap: wrap;
      justify-content: center;
    }
    @include responsive(mobile) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}

/*MENU MAITRE*/
#maitre {
  width: 80%;
  align-items: center;
  margin-left: auto;
  margin-right: auto;

  .maitre-trait {
    @include paletteTraitTitle;
    margin-top: 70px;

    /*RESPONSIVE*/
    @include responsive(smart-tablette) {
      justify-content: space-evenly;
    }
    @include responsive(mobile) {
      justify-content: space-evenly;
    }

    .maitre-sub {
      @include paletteSecondTitle;
      @include underline;
    }

    .mtraitG {
      @include paletteTrait;

      /*RESPONSIVE*/
      
      @include responsive(smart-tablette) {
        width: 25%;
        height: 25px;
      }
      @include responsive(mobile) {
        width: 20%;
        height: 20px;
      }
      
    }

    .mtraitD {
      @include paletteTrait;
      transform: rotateY(180deg);

      /*RESPONSIVE*/
      
      @include responsive(smart-tablette) {
        width: 25%;
        height: 25px;
      }
      @include responsive(mobile) {
        width: 20%;
        height: 20px;
      }
      
    }
  }

  .food-maitre {
    @include paletteFood;

    /*RESPONSIVE*/
    @include responsive(smart-tablette) {
      text-align: center;
      width: 100%;
    }

    @include responsive(mobile) {
      width: 100%;
      text-align: center;
    }

  }

  .price-maitre {
    @include palettePrice;
  }

  /*REPAS MAITRE*/
  .repas-filet {
    @include paletteRepas;
    margin-top: 20px;

    /*RESPONSIVE*/
    @include responsive(smart-tablette) {
      flex-wrap: wrap;
      justify-content: center;
    }
    @include responsive(mobile) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  .parmentier {
    @include paletteRepas;

    /*RESPONSIVE*/
    @include responsive(smart-tablette) {
      flex-wrap: wrap;
      justify-content: center;
    }
    @include responsive(mobile) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  .turbot {
    @include paletteRepas;

    /*RESPONSIVE*/
    @include responsive(smart-tablette) {
      flex-wrap: wrap;
      justify-content: center;
    }
    @include responsive(mobile) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}

/*MENU SOMMET*/
#sommet {
  width: 80%;
  align-items: center;
  padding-bottom: 3px;
  margin-left: auto;
  margin-right: auto;

  .sommet-trait {
    @include paletteTraitTitle;
    margin-top: 70px;

    /*RESPONSIVE*/
    @include responsive(smart-tablette) {
      justify-content: space-evenly;
    }
    @include responsive(mobile) {
      justify-content: space-evenly;
    }

    .sommet-sub {
      @include paletteSecondTitle;
      @include underline;
    }

    /*DESCRIPTION TRAIT GAUCHE*/
    .arttraitG {
      @include paletteTrait;

      /*RESPONSIVE*/
      
      @include responsive(smart-tablette) {
        width: 25%;
        height: 25px;
      }

      @include responsive(mobile) {
        width: 20%;
        height: 20px;
      }
      
    }

    /*DESCRIPTION TRAIT DROITE*/
    .arttraitD {
      @include paletteTrait;
      transform: rotateY(180deg);

      /*RESPONSIVE*/
      
      @include responsive(smart-tablette) {
        width: 25%;
        height: 25px;
      }

      @include responsive(mobile) {
        width: 20%;
        height: 20px;
      }
      
    }
  }

  .food-sommet {
    @include paletteFood;

    /*RESPONSIVE*/
    @include responsive(smart-tablette) {
      width: 100%;
      text-align: center;
    }
    @include responsive(mini-phone) {
      width: 100%;
      text-align: center;
    }
    @include responsive(mobile) {
      width: 100%;
      text-align: center;
      
    }

    
  }

  .price-sommet {
    @include palettePrice;
  }

  /*REPAS SOMMET*/
  .repas-paris {
    @include paletteRepas;
    margin-top: 20px;

    /*RESPONSIVE*/
    @include responsive(smart-tablette) {
      flex-wrap: wrap;
      justify-content: center;
    }
    @include responsive(mobile) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  .chocolat {
    @include paletteRepas;

    /*RESPONSIVE*/
    @include responsive(smart-tablette) {
      flex-wrap: wrap;
      justify-content: center;
    }
    @include responsive(mobile) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  .mousse {
    @include paletteRepas;
    margin-bottom: 40px;

    /*RESPONSIVE*/
    @include responsive(smart-tablette) {
      flex-wrap: wrap;
      justify-content: center;
    }
    @include responsive(mobile) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}
