
/*
font-family: 'Croissant One', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Devonshire', cursive;
font-family: 'Kaushan Script', cursive;
font-family: 'Ma Shan Zheng', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Noto Serif', serif;
font-family: 'Roboto', sans-serif;
font-family: 'Sriracha', cursive;
#3c1219
#c77412
#0887fb
#72bf56
#f15861 music
*/


*
{
    padding: 0;
    margin: 0;
}

body
{
    background-color: rgb(255, 255, 255);
         
}

/* HEADER */

header
{
    height: 100px;
    background-color: #579c87;

     h1
   {
    text-align: center;
    font-size: 45px;
    padding-top: 25px;
    color: #fdcb46;
    font-family: 'Roboto', sans-serif;
    letter-spacing: -3px;
   }
}



/* MAIN BLOC */

.container
{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    width: 100%;
    
}

/* MENU */

.note
{
    height: 710px;
    width: 500px;
    background-color: #fcdfdb;
    margin-right: 60px;
    box-shadow: 4px 4px 13px gray;

    .note-title
    {
        text-align: center;
        margin-top:250px;
    }
    
     .fa-music
    {
        color:red;
        font-size: 60px;
    }
    
    h3 a
    {
        font-size: 45px;
        text-decoration: none;
        color: #3c1219;
        
    }
    
     h4
    {
        font-size: 42px;
        margin-bottom: 20px; 
        font-family: 'Ma Shan Zheng', cursive; 
        color: #3c1219;
    }
    
}



.chic
{
    height: 710px;
    width: 500px;
    background-color:#fff5fe; 
    box-shadow: 4px 4px 13px gray;

    .chic-title
{
    text-align: center;
    margin-top:280px;
}
 h4
{
    font-size: 30px;
    margin-bottom: 20px; 
    font-family: 'Croissant One', cursive;
    
}

 h3 a
{
    font-size: 45px;
    text-decoration: none;
    color: #c77412;
}
}



.delice
{
    height: 710px;
    width: 500px;
    background-color:#f9f9f9;
    margin-right: 30px;
    margin-top: 15px; 
    box-shadow: 4px 4px 13px gray;

    .delice-title
{
    text-align: center;
    margin-top:270px; 
}

 h4
{
    font-size: 40px;
    margin-bottom: 35px;
    font-family: 'Dancing Script', cursive;  
}

 h3 a
{
    font-size: 45px;
    text-decoration: none; 
    color: #0887fb;   
}
}


.palette
{
    height: 710px;
    width: 500px;
    background-color: #fdfffd;
    margin-left: 30px;
    margin-top: 15px;  
    box-shadow: 4px 4px 13px  gray;

    .palette-title
{
    text-align: center;
    margin-top:270px;
}

 h4
{
    font-size: 35px;
    margin-bottom: 32px;
    font-family: 'Kaushan Script', cursive;
    
   
}

 h3 a
{
    font-size: 45px; 
    text-decoration: none;
    color: #72bf56;   
}
}


/* PROCHAINEMENT BUTTON*/
.prochainement
{
    text-align: center;
    margin-top: 50px; 
    margin-bottom: 100px;

     h3 a
{
    color: #fdcb46;
    text-decoration: none;
    font-size: 25px;
    font-weight: 300;
    letter-spacing: 2px;   
}

    .btn
{
    background-color: #579c87;
    padding: 12px;
    border-radius: 10px;
} 
   
}

/* FOOTER*/
footer
{
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    height: 60px;
    background-color: #579c87;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    
 .legale
{
    padding: 15px; 
}
 .legale a
{
    text-decoration: none;
    color:#fdcb46;
    margin: 25px;
    font-size: 25px; 
}

.contact
{
    font-size: 25px;
    margin-right: 10px;
    padding: 15px;
}

 .contact a
{
    text-decoration: none;
    color:#fdcb46;   
}
   
}



