.prochainement
{
    text-align: center;
    margin-top: 50px;  
    margin-bottom: 100px;  
  
    h3 a
   {
    color: #fdcb46;
    text-decoration: none;
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 2px; 
    padding: 9px;
   }
    .btn
   {
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 10px;
    background-color:$fondVert;
   }
}