.editeur
{
    text-align: center;
    margin-top: 100px;

    h3
    {
        @include texteMention;  
    }
    h4
    {   
        @include texteMention;
    }
    ul li
    {
        @include texteMention;
    }
    
}

.hebergement
{
    text-align: center;
    margin-top: 100px;

    h3
    {
        @include texteMention;
    }

    ul li
    {
        @include texteMention;
    }
}

.conditions
{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;

    h3
    {
        @include texteMention;   
    }

    p
    {
       font-size: 16px; 

       /* RESPONSIVE MOBILE*/
       @include responsive(phone){
        margin: 20px;
        }
    }

}