.editeur
{
    text-align: center;
    margin-top: 100px;

    h3
    {
        font-size: 30px;
        margin-bottom: 10px;
    }
    h4
    {
        font-size:20px ;
        margin-bottom: 15px;
    }
    ul li
    {
        font-size: 20px;
    }
}

.hebergement
{
    text-align: center;
    margin-top: 100px;

    h3
    {
        font-size: 30px;
        margin-bottom: 10px; 
    }

    ul li
    {
        font-size: 20px;
    }
}

.conditions
{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;

    h3
    {
        font-size: 30px;
        margin-bottom: 10px; 
    }

    p
    {
       font-size: 16px; 
    }

}