.editeur
{
    @include mentionCenter;

    h3
    {
        @include mentionTitle; 
    }
    h4
    {   
        font-size:20px ;
        margin-bottom: 15px;
    }
    ul li
    {
        @include mentionList;
    }
    
}

.hebergement
{
    @include mentionCenter;

    h3
    {
        @include mentionTitle;
    }

    ul li
    {
        @include mentionList;
    }
}

.conditions
{
    @include mentionCenter;
    margin-bottom: 100px;

    h3
    {
        @include mentionTitle;  
    }

    p
    {
       font-size: 16px; 

       /* RESPONSIVE MOBILE*/
       @include responsive(phone){
        margin: 20px;
        }
    }

}