
@mixin chicSecondTitle{
  font-family: 'Merriweather', cursive;
  font-size: 21px;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
  position: relative;
  text-decoration: none;
}


@mixin noteSecondTitle{
  font-family: 'Kalam', cursive;
  font-weight: 400;
  font-size: 28px;
  text-align: center;
  margin-right: 15px; 
  position: relative;
  text-decoration: none;
}
@mixin paletteSecondTitle{
  font-family: 'Kalam', cursive;
  font-weight: 300;
  text-align: center;
  font-size: 25px;
  position: relative;
  text-decoration: none;
}


@mixin menuSecondTitle{
  font-size: 35px;
  text-align: center;
  margin-top: 35px;
  margin-bottom:25px;
  letter-spacing: 2px;
}


@mixin underline {
  &::after
{
  content: "";
  display: flex;
  position: absolute;
  left: 5;
  bottom: 5;
  height: 2px;
  width:100%;
  background: black;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 250ms ease-in;
}
&:hover{
  &::after {
      transform:scaleX(1);   
  }
}
  
}

@mixin container {
  margin-left: 50px;
  margin-right: 50px; 
  margin-top: 50px;
  margin-bottom: 120px;
  box-shadow:$shadow;  
}

@mixin mentionCenter{
  text-align: center;
  margin-top: 100px;
}

@mixin mentionTitle {
  font-size: 30px;
  margin-bottom: 10px;
}

@mixin mainBloc {
  background-color: white;
  width: 100%;
}

@mixin mentionList {
  font-size: 20px; 
}

@mixin cadremenu($colorValue) {
  width:$widthMenu;
  height:$heightMenu;
  box-shadow:$shadow;  
  background-color: $colorValue; 
}

@mixin lien {
text-decoration: $texteDecoration;
}

@mixin policemenu{
  font-family: $fontChic;
}

@mixin zoomeffect {
  transform:scale(1);
  transition: transform 400ms;
  opacity:1;
  &:hover{
    transform:scale(1.12);
    opacity: 0.6;
  }
}

@mixin linear-gradient($degrees, $color-one:#4ea043, $color-two:#beff7f) {
    color: $color-one;
    color: $color-two;
    background: -webkit-linear-gradient($degrees, $color-one 0%, $color-two 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;  
  }

  @mixin linear-gradient($degrees, $color-one:#0b73f4, $color-two:#0229dd) {
    color: $color-one;
    color: $color-two;
    background: -webkit-linear-gradient($degrees, $color-one 0%, $color-two 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;  
  }

  @mixin linear-gradient($degrees, $color-one:#8f5aff, $color-two:#dc8527) {
    color: $color-one;
    color: $color-two;
    background: -webkit-linear-gradient($degrees, $color-one 0%, $color-two 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;  
  }

  @mixin linear-gradient($degrees, $color-one:#f6916a, $color-two:#f13639) {
    color: $color-one;
    color: $color-two;
    background: -webkit-linear-gradient($degrees, $color-one 0%, $color-two 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;  
  }
  

  
@mixin responsive($breakpoint) {

    /* PALETTE RESPONSIVE */
    @if $breakpoint == mobile {
    @media only screen and (max-width:600px) {@content};
  }

  @if $breakpoint == smart-tablette {
    @media only screen and (max-width:768px) {@content};
  }

  @if $breakpoint == laptope {
    @media only screen and (max-width:1040px) {@content};
  }

  @if $breakpoint == big-screen {
    @media only screen and (max-width:1200px) {@content};
  }

  @if $breakpoint == mini-phone {
    @media only screen and (max-width:600px) {@content};
  }




 @if $breakpoint == little-phone {
         @media only screen and (max-width:480px) {@content};
         
}

/*


@if $breakpoint == big-phone {
  @media only screen and (min-width:588px) and (max-width:768px) {@content};
}

    @if $breakpoint == phone {
        @media only screen and (max-width:670px) {@content};
    }

    @if $breakpoint == chic-tablette {
      @media only screen and (max-width:780px) {@content};
    }

    
    @if $breakpoint == tablette{
        @media only screen and (max-width:800px) {@content};
    }

    @if $breakpoint == lap-top {
        @media only screen and (max-width:992px) {@content}
    
}
*/

}

