@mixin texteMention {
 
  font-size: 30px;
  margin-bottom: 10px;
  font-size:20px ;
  margin-bottom: 15px;
  font-size: 20px;
  
}

@mixin cadremenu($colorValue) {
  width:$widthMenu;
  height:$heightMenu;
  box-shadow:$shadow;  
  background-color: $colorValue; 
}

@mixin lien {
text-decoration: $texteDecoration;
}

@mixin policemenu{
  font-family: $fontChic;
}

@mixin zoomeffect {
  transform:scale(1);
  transition: transform 400ms;
  opacity:1;
  &:hover{
    transform:scale(1.12);
    opacity: 0.6;
  }
}

@mixin linear-gradient($degrees, $color-one:#4ea043, $color-two:#beff7f) {
    color: $color-one;
    color: $color-two;
    background: -webkit-linear-gradient($degrees, $color-one 0%, $color-two 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;  
  }

  @mixin linear-gradient($degrees, $color-one:#0b73f4, $color-two:#0229dd) {
    color: $color-one;
    color: $color-two;
    background: -webkit-linear-gradient($degrees, $color-one 0%, $color-two 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;  
  }

  @mixin linear-gradient($degrees, $color-one:#8f5aff, $color-two:#dc8527) {
    color: $color-one;
    color: $color-two;
    background: -webkit-linear-gradient($degrees, $color-one 0%, $color-two 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;  
  }

  @mixin linear-gradient($degrees, $color-one:#f6916a, $color-two:#f13639) {
    color: $color-one;
    color: $color-two;
    background: -webkit-linear-gradient($degrees, $color-one 0%, $color-two 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;  
  }
  

@mixin responsive($breakpoint) {
    

    @if $breakpoint == little-phone {
         @media only screen and (max-width:480px) {@content};
         
}

@if $breakpoint == mini-phone {
  @media only screen and (max-width:600px) {@content};
}

@if $breakpoint == big-phone {
  @media only screen and (min-width:601px) and (max-width:700px) {@content};
}

    @if $breakpoint == phone {
        @media only screen and (max-width:670px) {@content};
    }

    @if $breakpoint == chic-tablette {
      @media only screen and (max-width:780px) {@content};
    }

    
    @if $breakpoint == tablette{
        @media only screen and (max-width:800px) {@content};
    }

    @if $breakpoint == lap-top {
        @media only screen and (max-width:992px) {@content}
    }
}






