
@mixin linear-gradient($degrees, $color-one:#4ea043, $color-two:#beff7f) {
    color: $color-one;
    color: $color-two;
    background: -webkit-linear-gradient($degrees, $color-one 0%, $color-two 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    
  }

  @mixin linear-gradient($degrees, $color-one:#0b73f4, $color-two:#0229dd) {
    color: $color-one;
    color: $color-two;
    background: -webkit-linear-gradient($degrees, $color-one 0%, $color-two 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    
  }

  @mixin linear-gradient($degrees, $color-one:#8f5aff, $color-two:#dc8527) {
    color: $color-one;
    color: $color-two;
    background: -webkit-linear-gradient($degrees, $color-one 0%, $color-two 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    
  }
  


@mixin responsive($breakpoint) {
    @if $breakpoint == phone {
        @media only screen and (max-width:768px) {@content};
    }
    
    @if $breakpoint == lap-top {
        @media only screen and (max-width:992px) {@content};
    }

    @if $breakpoint == big-screen {
        @media only screen and (max-width:1200px) {@content}
    }
}






