$fondVert: #579c87;
$widthMenu:350px;
$heightMenu:500px;
$shadow:3px 3px 14px gray;




footer
{
 background-color:$fondVert;
}

header
{
  background-color:$fondVert;
}

.btn
{
  background-color:$fondVert;  
}

.note
{
  width:$widthMenu;
  height:$heightMenu;
  box-shadow:3px 3px 14px gray;
}

.chic
{
  width:$widthMenu;
  height:$heightMenu;
  box-shadow:3px 3px 14px gray;
}

.delice
{
  width:$widthMenu;
  height:$heightMenu;
  box-shadow:3px 3px 14px gray;
}

.palette
{
  width:$widthMenu;
  height:$heightMenu;
  box-shadow:3px 3px 14px gray;
}