$fondVert: #579c87;
$widthMenu:350px;
$heightMenu:500px;
$shadow:3px 3px 14px gray;
$green: #72bf56;
$colorNote:#fcdfdb;
$colorChic:#fff5fe;
$colorDelice:#f9f9f9;
$colorPalette:#fdfffd;
$texteDecoration:none;
$fontChic:'Merriweather', cursive;
$fontmenu:'Kalam', cursive;












