@charset "UTF-8";
/* HEADER */
header {
  height: 90px;
  background-color: #579c87; }
  header h1, header a {
    text-align: center;
    font-size: 53px;
    padding-top: 10px;
    color: #fdcb46;
    font-family: 'Roboto', sans-serif;
    letter-spacing: -2px;
    text-decoration: none; }

/* FOOTER*/
footer {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  height: 60px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #579c87;
  /* MENTION LEGALE*/
  /* CONTACT*/ }
  footer .legale {
    margin-top: 20px; }
  footer .legale a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    color: #fdcb46;
    margin: 25px;
    font-size: 20px;
    cursor: pointer;
    /* RESPONSIVE MOBILE*/ }
    @media only screen and (max-width: 480px) {
      footer .legale a {
        font-size: 15px; } }
  footer .legale:hover {
    animation: shake 1s; }
  footer .contact {
    margin-right: 25px;
    margin-top: 20px; }
  footer a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 200;
    color: #fdcb46;
    /* RESPONSIVE MOBILE*/ }
    @media only screen and (max-width: 480px) {
      footer a {
        font-size: 15px; } }
  footer .contact:hover {
    animation: shake 1s; }

/* ANIMATION*/
@keyframes shake {
  0% {
    transform: translate(5px, 5px); }
  10% {
    transform: translate(-5px, -5px); }
  20% {
    transform: translate(5px, 5px); }
  30% {
    transform: translate(-5px, -5px); }
  40% {
    transform: translate(5px, 5px); }
  50% {
    transform: translate(-5px, -5px); }
  60% {
    transform: translate(5px, 5px); }
  70% {
    transform: translate(-5px, -5px); }
  80% {
    transform: translate(5px, 5px); }
  90% {
    transform: translate(-5px, -5px); }
  100% {
    transform: translate(5px, 5px); } }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #fff; }

.container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  width: 100%;
  /* RESPONSIVE*/ }
  @media only screen and (max-width: 670px) {
    .container {
      flex-wrap: wrap; } }

/* LA NOTE ENCHANTEE*/
.note {
  background-color: #fcdfdb;
  margin-right: 30px;
  width: 350px;
  height: 500px;
  box-shadow: 3px 3px 14px gray;
  background-color: #fcdfdb;
  /* RESPONSIVE*/ }
  @media only screen and (max-width: 670px) {
    .note {
      margin-left: 40px;
      margin-right: 40px;
      margin-bottom: 70px; } }
  @media only screen and (max-width: 800px) {
    .note {
      margin-left: 40px; } }
  .note .note-title {
    text-align: center;
    margin-top: 130px;
    transform: scale(1);
    transition: transform 400ms;
    opacity: 1; }
    .note .note-title:hover {
      transform: scale(1.12);
      opacity: 0.6; }
  .note .fa-music {
    font-size: 30px;
    color: #f6916a;
    color: #f13639;
    background: -webkit-linear-gradient(190deg, #f6916a 0%, #f13639 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text; }
  .note h3 a {
    font-size: 35px;
    color: #3d1319;
    font-family: 'Itim', cursive;
    font-weight: 300;
    text-decoration: none; }
  .note h4 {
    font-size: 35px;
    color: #3d1319;
    font-family: 'devonshire', cursive;
    font-weight: 300; }

/* LE CHIC A LA FRANCAISE */
.chic {
  background-color: #fff5fe;
  margin-left: 30px;
  width: 350px;
  height: 500px;
  box-shadow: 3px 3px 14px gray;
  /* RESPONSIVE */ }
  @media only screen and (max-width: 670px) {
    .chic {
      margin-left: 40px;
      margin-right: 30px; } }
  @media only screen and (max-width: 800px) {
    .chic {
      margin-right: 40px; } }
  .chic .chic-title {
    text-align: center;
    margin-top: 200px;
    transform: scale(1);
    transition: transform 400ms;
    opacity: 1; }
    .chic .chic-title:hover {
      transform: scale(1.12);
      opacity: 0.6; }
  .chic h4 {
    font-size: 24px;
    margin-bottom: 10px;
    font-family: 'Croissant One', cursive;
    color: #8f5aff;
    color: #dc8527;
    background: -webkit-linear-gradient(190deg, #8f5aff 0%, #dc8527 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text; }
    @media only screen and (max-width: 800px) {
      .chic h4 {
        font-size: 21px; } }
  .chic h3 a {
    font-size: 38px;
    font-weight: 600;
    color: #c77412;
    text-decoration: none; }

/* DELICE DES PAPILLES */
.delice {
  background-color: #f9f9f9;
  margin-right: 30px;
  margin-top: 15px;
  width: 350px;
  height: 500px;
  box-shadow: 3px 3px 14px gray;
  background-color: #f9f9f9;
  /* RESPONSIVE */ }
  @media only screen and (max-width: 670px) {
    .delice {
      margin-left: 40px;
      margin-right: 40px;
      margin-bottom: 60px; } }
  @media only screen and (max-width: 800px) {
    .delice {
      margin-left: 40px; } }
  .delice .delice-title {
    text-align: center;
    margin-top: 180px;
    transform: scale(1);
    transition: transform 400ms;
    opacity: 1; }
    .delice .delice-title:hover {
      transform: scale(1.12);
      opacity: 0.6; }
  .delice h4 {
    font-size: 35px;
    font-family: 'Dancing Script', cursive;
    margin-bottom: 10px;
    color: #0886fbbb;
    color: #0229dd;
    background: -webkit-linear-gradient(160deg, #0886fbbb 0%, #0229dd 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text; }
  .delice h3 a {
    font-size: 45px;
    margin-top: 30px;
    color: #0887fb;
    font-family: 'Caveat', cursive;
    font-weight: 300;
    text-decoration: none; }

/* LA PALETTE DU GOUT*/
.palette {
  background-color: #fdfffd;
  margin-left: 30px;
  margin-top: 15px;
  width: 350px;
  height: 500px;
  box-shadow: 3px 3px 14px gray;
  background-color: #f9f9f9;
  /* RESPONSIVE*/ }
  @media only screen and (max-width: 670px) {
    .palette {
      margin-left: 40px;
      margin-right: 30px; } }
  @media only screen and (max-width: 800px) {
    .palette {
      margin-right: 40px; } }
  .palette .palette-title {
    text-align: center;
    margin-top: 180px;
    transform: scale(1);
    transition: transform 400ms;
    opacity: 1; }
    .palette .palette-title:hover {
      transform: scale(1.12);
      opacity: 0.6; }
  .palette h4 {
    font-size: 30px;
    font-family: 'kaushan script', cursive;
    margin-bottom: 10px;
    color: #beff7f;
    color: #4ea043;
    background: -webkit-linear-gradient(145deg, #beff7f 0%, #4ea043 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    /* RESPONSIVE*/ }
    @media only screen and (max-width: 800px) {
      .palette h4 {
        font-size: 21px; } }
  .palette h3 a {
    font-size: 45px;
    font-weight: 300;
    color: #72bf56;
    font-family: 'Caveat', cursive;
    margin-top: 30px;
    text-decoration: none; }

.prochainement {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 100px; }
  .prochainement h3 a {
    color: #fdcb46;
    text-decoration: none;
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 2px;
    padding: 9px; }
  .prochainement span {
    /*height: 8px;
    width: 8px;
    background:#fdcb46;
    margin-left: 5px;
    border-radius:100%;*/
    font-size: 40px;
    display: inline-block;
    animation: dots 1.4s linear infinite alternate;
    animation-fill-mode: both; }
  .prochainement span:nth-child(2) {
    animation-delay: .2s;
    margin-left: 1px; }
  .prochainement span:nth-child(3) {
    animation-delay: .4s;
    margin-left: 1px; }
  .prochainement .btn {
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 10px;
    background-color: #579c87; }

@keyframes dots {
  /*from{
       transform: scale(0);
   }
   to{
       transform: scale(1);
   }*/
  0% {
    opacity: .2; }
  20% {
    opacity: 1; }
  100% {
    opacity: .2; } }
.editeur {
  text-align: center;
  margin-top: 100px; }
  .editeur h3 {
    font-size: 30px;
    margin-bottom: 10px; }
  .editeur h4 {
    font-size: 20px;
    margin-bottom: 15px; }
  .editeur ul li {
    font-size: 20px; }

.hebergement {
  text-align: center;
  margin-top: 100px; }
  .hebergement h3 {
    font-size: 30px;
    margin-bottom: 10px; }
  .hebergement ul li {
    font-size: 20px; }

.conditions {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px; }
  .conditions h3 {
    font-size: 30px;
    margin-bottom: 10px; }
  .conditions p {
    font-size: 16px;
    /* RESPONSIVE MOBILE*/ }
    @media only screen and (max-width: 670px) {
      .conditions p {
        margin: 20px; } }

.main-bloc {
  background-color: white;
  width: 100%; }

.note-menu1 {
  font-size: 35px;
  text-align: center;
  margin-top: 35px;
  margin-bottom: 25px;
  letter-spacing: 2px; }

.note-container {
  background-color: #fcdfdb;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
  margin-bottom: 120px;
  box-shadow: 3px 3px 14px gray;
  /* RESPONSIVE*/ }
  @media only screen and (max-width: 600px) {
    .note-container {
      margin-right: 20px;
      margin-left: 20px; } }
  @media only screen and (min-width: 601px) and (max-width: 768px) {
    .note-container {
      margin-right: 30px;
      margin-left: 30px; } }
  @media only screen and (max-width: 780px) {
    .note-container {
      margin-right: 26px;
      margin-left: 26px; } }

.note-title {
  text-align: center; }
  .note-title .fa-music {
    font-size: 60px;
    margin-top: 40px;
    color: #f6916a;
    color: #f13639;
    background: -webkit-linear-gradient(190deg, #f6916a 0%, #f13639 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text; }
  .note-title .principal {
    font-size: 40px;
    font-family: 'Devonshire', cursive;
    font-weight: 300;
    margin-bottom: 35px;
    color: #3d1319; }

#prelude {
  width: 100%;
  align-items: center; }

.prelude-trait {
  display: flex;
  justify-content: space-around;
  text-align: center; }

.prelude-title {
  font-family: 'Kalam', cursive;
  font-weight: 400;
  font-size: 28px;
  text-align: center;
  margin-right: 15px;
  position: relative;
  text-decoration: none; }
  @media only screen and (max-width: 600px) {
    .prelude-title {
      font-size: 22px; } }
  .prelude-title::after {
    content: "";
    display: flex;
    position: absolute;
    left: 5;
    bottom: 5;
    height: 2px;
    width: 100%;
    background: black;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 250ms ease-in; }
  .prelude-title:hover::after {
    transform: scaleX(1); }

.traitD {
  height: 27px;
  margin: 8px;
  margin-left: 20px; }
  @media only screen and (max-width: 600px) {
    .traitD {
      height: 10px;
      margin: 18px; } }
  @media only screen and (min-width: 601px) and (max-width: 768px) {
    .traitD {
      height: 19px;
      margin: 8px; } }

.traitG {
  height: 45px;
  margin: 8px;
  margin-right: 20px; }
  @media only screen and (max-width: 600px) {
    .traitG {
      height: 16px;
      margin: 16px; } }
  @media only screen and (min-width: 601px) and (max-width: 768px) {
    .traitG {
      height: 31px;
      margin: 8px; } }

.repas-raviole {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px; }
  @media only screen and (max-width: 600px) {
    .repas-raviole {
      display: block; } }

.food {
  font-family: 'Kalam', cursive;
  font-weight: 300;
  font-size: 20px;
  margin-left: 60px; }
  @media only screen and (max-width: 600px) {
    .food {
      text-align: center;
      margin-left: 4px;
      margin-right: 4px; } }
  @media only screen and (min-width: 601px) and (max-width: 768px) {
    .food {
      margin-left: 22px; } }
  @media only screen and (max-width: 780px) {
    .food {
      margin-left: 28px; } }

.price {
  font-family: 'Kalam', cursive;
  font-size: 20px;
  margin-right: 75px; }
  @media only screen and (max-width: 600px) {
    .price {
      text-align: center;
      margin-right: 6px; } }
  @media only screen and (min-width: 601px) and (max-width: 768px) {
    .price {
      margin-right: 35px; } }
  @media only screen and (max-width: 780px) {
    .price {
      margin-right: 49px; } }

.caviar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px; }
  @media only screen and (max-width: 600px) {
    .caviar {
      display: block; } }

.homard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px; }
  @media only screen and (max-width: 600px) {
    .homard {
      display: block; } }

.foie {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px; }
  @media only screen and (max-width: 600px) {
    .foie {
      display: block; } }

#orgue {
  width: 100%;
  align-items: center; }

.pont-orgue {
  display: flex;
  justify-content: space-around;
  margin-top: 70px;
  text-align: center; }

.orgue-sub {
  font-family: 'Kalam', cursive;
  font-weight: 400;
  font-size: 28px;
  text-align: center;
  margin-right: 15px;
  position: relative;
  text-decoration: none; }
  @media only screen and (max-width: 600px) {
    .orgue-sub {
      font-size: 22px; } }
  .orgue-sub::after {
    content: "";
    display: flex;
    position: absolute;
    left: 5;
    bottom: 5;
    height: 2px;
    width: 100%;
    background: black;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 250ms ease-in; }
  .orgue-sub:hover::after {
    transform: scaleX(1); }

.orgue-traitG {
  height: 27px;
  margin: 8px;
  margin-left: 35px; }
  @media only screen and (max-width: 600px) {
    .orgue-traitG {
      height: 10px;
      margin: 18px; } }
  @media only screen and (min-width: 601px) and (max-width: 768px) {
    .orgue-traitG {
      height: 19px;
      margin: 8px; } }

.orgue-traitD {
  height: 45px;
  margin: 8px;
  margin-right: 35px; }
  @media only screen and (max-width: 600px) {
    .orgue-traitD {
      height: 16px;
      margin: 16px; } }
  @media only screen and (min-width: 601px) and (max-width: 768px) {
    .orgue-traitD {
      height: 31px;
      margin: 8px; } }

.repas-noix {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px; }
  @media only screen and (max-width: 600px) {
    .repas-noix {
      display: block; } }

.langouste {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px; }
  @media only screen and (max-width: 600px) {
    .langouste {
      display: block; } }

.mijote {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px; }
  @media only screen and (max-width: 600px) {
    .mijote {
      display: block; } }

#mouvement {
  width: 100%;
  align-items: center; }

.mouvement-main {
  display: flex;
  justify-content: space-around;
  margin-top: 70px; }

.mouvement-title {
  font-family: 'Kalam', cursive;
  font-weight: 400;
  font-size: 28px;
  text-align: center;
  margin-right: 15px;
  position: relative;
  text-decoration: none; }
  @media only screen and (max-width: 600px) {
    .mouvement-title {
      font-size: 22px;
      margin-right: 0; } }
  .mouvement-title::after {
    content: "";
    display: flex;
    position: absolute;
    left: 5;
    bottom: 5;
    height: 2px;
    width: 100%;
    background: black;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 250ms ease-in; }
  .mouvement-title:hover::after {
    transform: scaleX(1); }

.mouvement-traitG {
  height: 27px;
  margin: 8px;
  margin-left: 49px; }
  @media only screen and (max-width: 600px) {
    .mouvement-traitG {
      height: 10px;
      margin: 18px;
      margin-left: 20px; } }
  @media only screen and (min-width: 601px) and (max-width: 768px) {
    .mouvement-traitG {
      height: 19px;
      margin: 8px; } }

.mouvement-traitD {
  height: 45px;
  margin: 8px;
  margin-right: 50px; }
  @media only screen and (max-width: 600px) {
    .mouvement-traitD {
      height: 16px;
      margin: 16px;
      margin-right: 20px; } }
  @media only screen and (min-width: 601px) and (max-width: 768px) {
    .mouvement-traitD {
      height: 31px;
      margin: 8px; } }

.repas-macaron {
  margin-top: 20px; }

.baba {
  margin-top: 10px; }

.tarte {
  margin-top: 10px;
  margin-bottom: 50px; }

#return {
  margin-bottom: 90px;
  padding: 40px;
  display: flex;
  justify-content: center; }
  @media only screen and (max-width: 600px) {
    #return {
      display: inline-block; } }
  @media only screen and (max-width: 600px) and (max-width: 600px) {
    #return {
      display: flex; } }

  #return .fa-music {
    font-size: 50px;
    margin-left: 15px;
    color: #f6916a;
    color: #f13639;
    background: -webkit-linear-gradient(190deg, #f6916a 0%, #f13639 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text; }
  #return .principal1 {
    font-size: 35px;
    font-family: 'Devonshire', cursive;
    margin-left: 13px;
    font-weight: 300;
    color: #3d1319; }
    @media only screen and (max-width: 600px) {
      #return .principal1 {
        font-size: 30px; } }

.main-bloc {
  background-color: white;
  width: 100%; }

.chic-menu1 {
  font-size: 35px;
  text-align: center;
  margin-top: 35px;
  margin-bottom: 25px;
  letter-spacing: 2px; }

.chic-container {
  background-color: #fff5fe;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
  margin-bottom: 120px;
  box-shadow: 3px 3px 14px gray; }
  @media only screen and (max-width: 600px) {
    .chic-container {
      margin-right: 20px;
      margin-left: 20px; } }
  @media only screen and (min-width: 601px) and (max-width: 768px) {
    .chic-container {
      margin-right: 26px;
      margin-left: 26px; } }

.chic-title2 {
  font-size: 28px;
  font-family: 'Croissant One', cursive;
  margin-bottom: 35px;
  padding: 50px;
  text-align: center;
  color: #8f5aff;
  color: #dc8527;
  background: -webkit-linear-gradient(190deg, #8f5aff 0%, #dc8527 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text; }

#appetit {
  width: 100%;
  align-items: center; }

.chic-trait {
  display: flex;
  justify-content: space-around;
  text-align: center; }
  .chic-trait .appetit-sub {
    color: #c77412;
    font-family: 'Merriweather', cursive;
    font-size: 21px;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    position: relative;
    text-decoration: none; }
    .chic-trait .appetit-sub::after {
      content: "";
      display: flex;
      position: absolute;
      left: 5;
      bottom: 5;
      height: 2px;
      width: 100%;
      background: black;
      transform: scaleX(0);
      transform-origin: left;
      transition: transform 250ms ease-in; }
    .chic-trait .appetit-sub:hover::after {
      transform: scaleX(1); }
    @media only screen and (max-width: 600px) {
      .chic-trait .appetit-sub {
        margin-right: 0; } }
  .chic-trait .chictraitD {
    height: 25px;
    margin: 8px; }
    @media only screen and (max-width: 600px) {
      .chic-trait .chictraitD {
        height: 11px; } }
    @media only screen and (min-width: 601px) and (max-width: 768px) {
      .chic-trait .chictraitD {
        height: 11px; } }
  .chic-trait .chictraitG {
    height: 25px;
    margin: 8px; }
    @media only screen and (max-width: 600px) {
      .chic-trait .chictraitG {
        height: 11px; } }
    @media only screen and (min-width: 601px) and (max-width: 768px) {
      .chic-trait .chictraitG {
        height: 11px; } }

.repas-tartare {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 29px; }

.food-chic {
  font-family: 'Merriweather', cursive;
  font-weight: 200;
  font-size: 17px;
  margin-left: 80px;
  color: #c77412; }
  @media only screen and (max-width: 600px) {
    .food-chic {
      margin-left: 34px; } }

.price-chic {
  font-family: 'Merriweather', cursive;
  font-size: 17px;
  margin-right: 90px;
  color: #c77412; }
  @media only screen and (max-width: 600px) {
    .price-chic {
      margin-right: 37px; } }

.veloute {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  color: #c77412; }

.soupe {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  color: #c77412; }

#plaisir {
  width: 100%;
  align-items: center; }

.plaisir-trait {
  display: flex;
  justify-content: space-around;
  margin-top: 70px;
  text-align: center; }
  .plaisir-trait .plaisir-chictraitG {
    height: 22px;
    margin: 8px; }
    @media only screen and (max-width: 600px) {
      .plaisir-trait .plaisir-chictraitG {
        height: 11px; } }
    @media only screen and (min-width: 601px) and (max-width: 768px) {
      .plaisir-trait .plaisir-chictraitG {
        height: 11px; } }
  .plaisir-trait .plaisir-chictraitD {
    height: 32px;
    margin: 3px;
    margin-left: 30px; }
    @media only screen and (max-width: 600px) {
      .plaisir-trait .plaisir-chictraitD {
        height: 15px; } }
    @media only screen and (min-width: 601px) and (max-width: 768px) {
      .plaisir-trait .plaisir-chictraitD {
        height: 15px; } }
  .plaisir-trait .plaisir-sub {
    color: #a56799;
    font-family: 'Merriweather', cursive;
    font-size: 21px;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    position: relative;
    text-decoration: none; }
    .plaisir-trait .plaisir-sub::after {
      content: "";
      display: flex;
      position: absolute;
      left: 5;
      bottom: 5;
      height: 2px;
      width: 100%;
      background: black;
      transform: scaleX(0);
      transform-origin: left;
      transition: transform 250ms ease-in; }
    .plaisir-trait .plaisir-sub:hover::after {
      transform: scaleX(1); }

.food-plaisir {
  font-family: 'Merriweather', cursive;
  font-weight: 200;
  font-size: 17px;
  margin-left: 80px;
  color: #a56799; }
  @media only screen and (max-width: 600px) {
    .food-plaisir {
      margin-left: 34px; } }

.price-plaisir {
  font-family: 'Merriweather', cursive;
  font-size: 17px;
  margin-right: 90px;
  color: #a56799; }
  @media only screen and (max-width: 600px) {
    .price-plaisir {
      margin-right: 37px; } }

.repas-coquille {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  color: #a56799; }

.magret {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  color: #a56799; }

.pigeon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  color: #a56799; }

#gourmandise {
  width: 100%;
  align-items: center;
  padding-bottom: 3px; }

.gourmandise-trait {
  display: flex;
  justify-content: space-around;
  margin-top: 70px; }
  .gourmandise-trait .gourmandise-sub {
    color: #6e4ccc;
    font-family: 'Merriweather', cursive;
    font-size: 21px;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    position: relative;
    text-decoration: none; }
    .gourmandise-trait .gourmandise-sub::after {
      content: "";
      display: flex;
      position: absolute;
      left: 5;
      bottom: 5;
      height: 2px;
      width: 100%;
      background: black;
      transform: scaleX(0);
      transform-origin: left;
      transition: transform 250ms ease-in; }
    .gourmandise-trait .gourmandise-sub:hover::after {
      transform: scaleX(1); }
  .gourmandise-trait .gourmandise-chictraitG {
    height: 32px;
    margin: 8px; }
    @media only screen and (max-width: 600px) {
      .gourmandise-trait .gourmandise-chictraitG {
        height: 14px; } }
    @media only screen and (min-width: 601px) and (max-width: 768px) {
      .gourmandise-trait .gourmandise-chictraitG {
        height: 14px; } }
  .gourmandise-trait .gourmandise-chictraitD {
    height: 36px;
    margin: 3px; }
    @media only screen and (max-width: 600px) {
      .gourmandise-trait .gourmandise-chictraitD {
        height: 16px; } }
    @media only screen and (min-width: 601px) and (max-width: 768px) {
      .gourmandise-trait .gourmandise-chictraitD {
        height: 16px; } }

.repas-petale {
  margin-top: 20px;
  color: #6e4ccc; }

.food-petale {
  font-family: 'Merriweather', cursive;
  font-weight: 200;
  font-size: 17px;
  margin-left: 80px; }
  @media only screen and (max-width: 600px) {
    .food-petale {
      margin-left: 34px; } }

.fondant {
  margin-top: 20px;
  color: #6e4ccc;
  font-family: 'Merriweather', cursive; }

.millefeuille {
  margin-top: 20px;
  margin-bottom: 40px;
  color: #6e4ccc; }

.main-bloc {
  background-color: white;
  width: 100%; }

.delice-menu1 {
  font-size: 35px;
  text-align: center;
  margin-top: 35px;
  margin-bottom: 25px;
  letter-spacing: 2px; }

.delice-container {
  background-color: #f9f9f9;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
  margin-bottom: 120px;
  box-shadow: 3px 3px 14px gray; }
  @media only screen and (max-width: 600px) {
    .delice-container {
      margin-right: 20px;
      margin-left: 20px; } }
  @media only screen and (min-width: 601px) and (max-width: 768px) {
    .delice-container {
      margin-right: 26px;
      margin-left: 26px; } }

.delice-title2 {
  font-size: 40px;
  margin-bottom: 35px;
  padding: 50px;
  text-align: center;
  font-family: 'Dancing Script', cursive;
  color: #0886fbbb;
  color: #0229dd;
  background: -webkit-linear-gradient(160deg, #0886fbbb 0%, #0229dd 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text; }

#commencer {
  width: 100%;
  align-items: center; }

.delice-trait {
  display: flex;
  justify-content: space-around;
  text-align: center; }
  .delice-trait .delice-sub {
    font-family: 'Kalam', cursive;
    font-family: 'Kalam', cursive;
    font-weight: 300;
    text-align: center;
    font-size: 25px;
    position: relative;
    text-decoration: none; }
    .delice-trait .delice-sub::after {
      content: "";
      display: flex;
      position: absolute;
      left: 5;
      bottom: 5;
      height: 2px;
      width: 100%;
      background: black;
      transform: scaleX(0);
      transform-origin: left;
      transition: transform 250ms ease-in; }
    .delice-trait .delice-sub:hover::after {
      transform: scaleX(1); }
  .delice-trait .delicetraitG {
    height: 40px;
    margin: 8px; }
    @media only screen and (max-width: 600px) {
      .delice-trait .delicetraitG {
        height: 21px; } }
    @media only screen and (min-width: 601px) and (max-width: 768px) {
      .delice-trait .delicetraitG {
        height: 21px; } }
  .delice-trait .delicetraitD {
    height: 26px;
    margin: 15px; }
    @media only screen and (max-width: 600px) {
      .delice-trait .delicetraitD {
        height: 15px; } }
    @media only screen and (min-width: 601px) and (max-width: 768px) {
      .delice-trait .delicetraitD {
        height: 15px; } }

.repas-thon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px; }

.food-delice {
  font-family: 'Kalam', cursive;
  font-weight: 300;
  font-size: 20px;
  margin-left: 80px; }
  @media only screen and (max-width: 600px) {
    .food-delice {
      margin-left: 22px; } }

.price-delice {
  font-family: 'Kalam', cursive;
  font-size: 20px;
  margin-right: 90px;
  font-weight: 400; }
  @media only screen and (max-width: 600px) {
    .price-delice {
      margin-right: 33px; } }

.bouchee {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px; }

.cepes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px; }

#continuer {
  width: 100%;
  align-items: center; }

.continuer-trait {
  display: flex;
  justify-content: space-around;
  margin-top: 70px;
  text-align: center; }
  .continuer-trait .continuer-sub {
    font-family: 'Kalam', cursive;
    font-family: 'Kalam', cursive;
    font-weight: 300;
    text-align: center;
    font-size: 25px;
    position: relative;
    text-decoration: none; }
    .continuer-trait .continuer-sub::after {
      content: "";
      display: flex;
      position: absolute;
      left: 5;
      bottom: 5;
      height: 2px;
      width: 100%;
      background: black;
      transform: scaleX(0);
      transform-origin: left;
      transition: transform 250ms ease-in; }
    .continuer-trait .continuer-sub:hover::after {
      transform: scaleX(1); }
  .continuer-trait .light-traitG {
    height: 44px;
    margin: 8px; }
    @media only screen and (max-width: 600px) {
      .continuer-trait .light-traitG {
        height: 25px; } }
    @media only screen and (min-width: 601px) and (max-width: 768px) {
      .continuer-trait .light-traitG {
        height: 25px; } }
  .continuer-trait .light-traitD {
    height: 32px;
    margin: 16px; }
    @media only screen and (max-width: 600px) {
      .continuer-trait .light-traitD {
        height: 19px; } }
    @media only screen and (min-width: 601px) and (max-width: 768px) {
      .continuer-trait .light-traitD {
        height: 19px; } }

.repas-poulet {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px; }

.roti {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px; }

.boeuf {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px; }

#terminer {
  width: 100%;
  align-items: center;
  padding-bottom: 3px; }

.terminer-trait {
  display: flex;
  justify-content: space-around;
  margin-top: 70px; }
  .terminer-trait .terminer-sub {
    font-family: 'Kalam', cursive;
    font-family: 'Kalam', cursive;
    font-weight: 300;
    text-align: center;
    font-size: 25px;
    position: relative;
    text-decoration: none; }
    .terminer-trait .terminer-sub::after {
      content: "";
      display: flex;
      position: absolute;
      left: 5;
      bottom: 5;
      height: 2px;
      width: 100%;
      background: black;
      transform: scaleX(0);
      transform-origin: left;
      transition: transform 250ms ease-in; }
    .terminer-trait .terminer-sub:hover::after {
      transform: scaleX(1); }
  .terminer-trait .blue-traitG {
    height: 38px;
    margin: 8px; }
    @media only screen and (max-width: 600px) {
      .terminer-trait .blue-traitG {
        height: 24px; } }
    @media only screen and (min-width: 601px) and (max-width: 768px) {
      .terminer-trait .blue-traitG {
        height: 24px; } }
  .terminer-trait .blue-traitD {
    height: 30px;
    margin: 13px; }
    @media only screen and (max-width: 600px) {
      .terminer-trait .blue-traitD {
        height: 18px; } }
    @media only screen and (min-width: 601px) and (max-width: 768px) {
      .terminer-trait .blue-traitD {
        height: 18px; } }

.repas-desserts {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.créme {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.tiramisu {
  margin-top: 10px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.main-bloc {
  background-color: white;
  width: 100%; }

.palette-menu1 {
  font-size: 35px;
  text-align: center;
  margin-top: 35px;
  margin-bottom: 25px;
  letter-spacing: 2px; }

.palette-container {
  background-color: #fdfffd;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
  margin-bottom: 120px;
  box-shadow: 3px 3px 14px gray; }
  @media only screen and (max-width: 600px) {
    .palette-container {
      margin-right: 20px;
      margin-left: 20px; } }
  @media only screen and (min-width: 601px) and (max-width: 768px) {
    .palette-container {
      margin-right: 26px;
      margin-left: 26px; } }

.palette-title2 {
  font-size: 35px;
  margin-bottom: 35px;
  padding: 50px;
  text-align: center;
  font-family: 'kaushan script', cursive;
  color: #beff7f;
  color: #4ea043;
  background: -webkit-linear-gradient(190deg, #beff7f 0%, #4ea043 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text; }

#esquisse {
  width: 100%;
  align-items: center; }

.esquisse-trait {
  display: flex;
  justify-content: space-around;
  text-align: center; }
  .esquisse-trait .esquisse-sub {
    font-family: 'Kalam', cursive;
    font-weight: 300;
    text-align: center;
    font-size: 25px;
    position: relative;
    text-decoration: none; }
    .esquisse-trait .esquisse-sub::after {
      content: "";
      display: flex;
      position: absolute;
      left: 5;
      bottom: 5;
      height: 2px;
      width: 100%;
      background: black;
      transform: scaleX(0);
      transform-origin: left;
      transition: transform 250ms ease-in; }
    .esquisse-trait .esquisse-sub:hover::after {
      transform: scaleX(1); }
  .esquisse-trait .paletteraitG {
    height: 42px;
    margin: 8px; }
    @media only screen and (max-width: 600px) {
      .esquisse-trait .paletteraitG {
        height: 21px; } }
    @media only screen and (min-width: 601px) and (max-width: 768px) {
      .esquisse-trait .paletteraitG {
        height: 21px; } }
  .esquisse-trait .palettetraitD {
    height: 50px;
    margin: 8px; }
    @media only screen and (max-width: 600px) {
      .esquisse-trait .palettetraitD {
        height: 25px; } }
    @media only screen and (min-width: 601px) and (max-width: 768px) {
      .esquisse-trait .palettetraitD {
        height: 25px; } }

.repas-fricasse {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px; }

.food-palette {
  font-family: 'Kalam', cursive;
  font-weight: 300;
  font-size: 20px;
  margin-left: 80px; }
  @media only screen and (max-width: 600px) {
    .food-palette {
      margin-left: 20px; } }

.price-palette {
  font-family: 'Kalam', cursive;
  font-size: 20px;
  margin-right: 90px; }
  @media only screen and (max-width: 600px) {
    .price-palette {
      margin-right: 13px; } }

.oeuf {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px; }

.canard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px; }

#maitre {
  width: 100%;
  align-items: center; }

.maitre-trait {
  display: flex;
  justify-content: space-around;
  margin-top: 70px;
  text-align: center; }
  .maitre-trait .maitre-sub {
    font-family: 'Kalam', cursive;
    font-weight: 300;
    text-align: center;
    font-size: 25px;
    position: relative;
    text-decoration: none; }
    .maitre-trait .maitre-sub::after {
      content: "";
      display: flex;
      position: absolute;
      left: 5;
      bottom: 5;
      height: 2px;
      width: 100%;
      background: black;
      transform: scaleX(0);
      transform-origin: left;
      transition: transform 250ms ease-in; }
    .maitre-trait .maitre-sub:hover::after {
      transform: scaleX(1); }
  .maitre-trait .mtraitG {
    height: 42px;
    margin: 8px;
    margin-left: 30px; }
    @media only screen and (max-width: 600px) {
      .maitre-trait .mtraitG {
        height: 21px; } }
    @media only screen and (min-width: 601px) and (max-width: 768px) {
      .maitre-trait .mtraitG {
        height: 21px; } }
  .maitre-trait .mtraitD {
    height: 50px;
    margin: 8px;
    margin-right: 30px; }
    @media only screen and (max-width: 600px) {
      .maitre-trait .mtraitD {
        height: 25px; } }
    @media only screen and (min-width: 601px) and (max-width: 768px) {
      .maitre-trait .mtraitD {
        height: 25px; } }

.repas-filet {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px; }

.parmentier {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px; }

.turbot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px; }

#sommet {
  width: 100%;
  align-items: center;
  padding-bottom: 3px; }

.sommet-trait {
  display: flex;
  justify-content: space-around;
  margin-top: 70px; }
  .sommet-trait .sommet-sub {
    font-family: 'Kalam', cursive;
    font-weight: 300;
    text-align: center;
    font-size: 25px;
    position: relative;
    text-decoration: none; }
    .sommet-trait .sommet-sub::after {
      content: "";
      display: flex;
      position: absolute;
      left: 5;
      bottom: 5;
      height: 2px;
      width: 100%;
      background: black;
      transform: scaleX(0);
      transform-origin: left;
      transition: transform 250ms ease-in; }
    .sommet-trait .sommet-sub:hover::after {
      transform: scaleX(1); }
  .sommet-trait .arttraitG {
    height: 42px;
    margin: 8px;
    margin-left: 30px; }
    @media only screen and (max-width: 600px) {
      .sommet-trait .arttraitG {
        height: 21px; } }
    @media only screen and (min-width: 601px) and (max-width: 768px) {
      .sommet-trait .arttraitG {
        height: 21px; } }
  .sommet-trait .arttraitD {
    height: 50px;
    margin: 8px;
    margin-right: 30px; }
    @media only screen and (max-width: 600px) {
      .sommet-trait .arttraitD {
        height: 25px; } }
    @media only screen and (min-width: 601px) and (max-width: 768px) {
      .sommet-trait .arttraitD {
        height: 25px; } }

.repas-paris {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px; }

.chocolat {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px; }

.mousse {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 40px; }

/*# sourceMappingURL=main.css.map */
